<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Pulse</title>
</head>
<body>
    <form action="/addproducttodb" method="post">
        <label>ProductName : <input type="text" name="ProductName" /></label>
        <label>Description : <textarea name="Description"></textarea></label>
        <label>Category : <select name="Category">
            <% category.forEach((value, index) => { %>
            <option><%= value.category %></option>
            <% }) %>
        </select></label>
        <label>Price : <input type="number" name="Price" step="any"></label>
        <label>Amount of Item : <input type="number" name="Quanity" min="0"/></label>
        <label>Status : <select name="Product_status">
            <option value="In Stock">Avalible in stock</option>
            <option value="Out of Stock">Out of Stock</option>
            <option value="Off Sale">Off Sale</option>
        </select></label>
        <input type="submit" placeholder="Add Product">
    </form>
</body>
</html>