<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Pulse</title>
</head>

<body>
    <div>
        <h1>Category Page</h1>
        <button type="Submit" id="AddCategory">Add New Category</button>
        <button type="submit" id="Deletecategory">Delete Category</button>
        <% category.forEach((value, index)=> { %>
            <a href="/category/<%= value.category %>">
                <div class="Category_Card">
                    <img src="/images.png">
                    <h2>
                        <%= value.category %>
                    </h2>
                </div>
            </a>
            <% }) %>
    </div>
    <script>
        document.querySelector("#AddCategory").addEventListener("click", () => {
            const Category = prompt("Category Name:")

            fetch("/addcategory", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ Category: Category })
            })
        })

        document.querySelector("#Deletecategory").addEventListener("click" , () => {
            const Category = prompt("Category Name you want to delete :")
            fetch("/deletecategory" , {
                method : "POST" , 
                headers: {
                    "Content-Type": "application/json"
                },
                body : JSON.stringify({Category})
            })
        })
    </script>
</body>

</html>