<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Pulse</title>
</head>

<body>
    <div>
        <h1>Category Page</h1>
        <% category.forEach((value, index)=> { %>
            <a href="/category/<%= value.category %>">
                <div class="Category_Card">
                    <img src="/images.png">
                    <h2>
                        <%= value.category %>
                    </h2>
                </div>
            </a>

            <% }) %>
    </div>

</body>

</html>