<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Pulse</title>
</head>
<body>
    <form action="" method="post">
        <label>ProductName : <input type="text" name="ProductName" /></label>
        <label>Description : <input type="text" name="Description" /></label>
        <label>Category : <select>

        </select></label>
        <label>Price : <input type="number" name="Price" min="0"/></label>
        <label>Amount of Item : <input type="number" name="Quanity" min="0"/></label>
        <label>Status : <select>
            <option value="In Stock">Avalible in stock</option>
            <option value="Out of Stock">Out of Stock</option>
            <option value="Off Sale">Off Sale</option>
        </select></label>
    </form>
</body>
</html>